html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.none {
  display: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  margin: 0;

  background-image: url(../img/header/headerbg.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-nav {
  display: flex;
  gap: 0 40px;
  color: white;
  justify-content: space-evenly;
  max-width: 100%;
}

.nav-element {
  margin-top: 58px;
}

.nav-link-logo {
  font-size: 32px;
  font-weight: 800;
  line-height: 0.9;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
}

.header-contactBtn {
  font-weight: 700;
  /* font-size: 16px; */
  color: #1e1e1e;
  background-color: #fff;
  padding: 5px 35px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
}

.header-title {
  max-width: 820px;
  position: absolute;
  top: 300px;
  left: 140px;
}

.header-title-txt {
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.header-title-btns {
  display: flex;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.9;
  color: white;
  margin-top: 40px;
}

.book-now-btn {
  border: 3px solid #fff;
  border-radius: 58px;
  padding: 10px 31px;
  transition: 0.3s all;
  cursor: pointer;
}

.learn-more-btn {
  border: 3px solid #fff;
  border-radius: 58px;
  padding: 10px 31px;
  transition: 0.3s all;
  cursor: pointer;
}

.book-now-btn:hover,
.learn-more-btn:hover {
  background-color: #fff;
  color: black;
}

.company-list {
  margin-top: 105px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.about_us-information {
  margin-top: 140px;
  margin-bottom: 190px;
}

.about_us-inner {
  display: flex;
  gap: 0 130px;
  align-items: center;
}

.about_us-left {
  position: relative;
}

.about_us-img-absolute {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.about_us-achivments {
  display: flex;
  gap: 0 70px;
}

.about_us-title {
  color: #00ad30;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
}

.about_us-subtitle {
  color: #202020;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
  max-width: 605px;
  margin-bottom: 15px;
}

.about_us-description {
  color: #9a9a9a;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  max-width: 635px;
  margin-bottom: 30px;
}

.about_us-achivments {
  color: #00ad30;
  font-family: "Montserrat", sans-serif;
}

.about_us-achivments h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.about_us-achivments p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}

.destinations {
  margin-bottom: 100px;
}

.destinations-title {
  color: #00ad30;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
}

.destinations-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
}

.destinations_subtitle-left {
  color: #202020;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
}

.destinations_subtitle-right {
  max-width: 520px;
  color: #9a9a9a;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.destinations-cards {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.card {
  height: 500px;
  width: 375px;
  color: white;
}

.card1 {
  background-image: url(../img/destinations/japan.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.card2 {
  background-image: url(../img/destinations/greece.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.card3 {
  background-image: url(../img/destinations/maldives.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}

.card-price {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
}

.card-estimation {
  display: flex;
  align-items: center;
  gap: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 200px;
  max-width: 135px;
  padding: 10px 20px;
  position: absolute;
  right: 40px;
  top: 32px;
}

.destination-score {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.card-down-txt {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
